recursive-include GeoBases *.rst *.txt *.csv *.zip *.sh *.yaml *.html *.js *.css *.png *.gif *.jpg
recursive-include GeoBases completion/*
recursive-include examples *
include *.rst
include VERSION
include LICENSE
